.ctx-menu {
  position: fixed;
  top: anchor(bottom);
  left: anchor(right);
  margin: 0;
  padding: 10px;
  background-color: white;
  color: black;
  width: 10%;
  height: max-content;
  border: 5px solid black;
}
