.overlay-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  margin: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.close-app-button {
  color: red;
}

.overlay-toolbar.alternate-toolbar-position {
  top: unset;
  bottom: 0;
}

.overlay-toolbar * {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
