.overlay-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    margin: 10px;
}

.close-app-button {
    color: red;
}

.overlay-toolbar.alternate-toolbar-position {
    top: unset;
    bottom: 0;
}
