.toasts {
  position: fixed;
  transform: translate(-16%, 0);
  bottom: 12%;
  right: 0;
  width: 30%;
  z-index: 10001;
}

.toast {
  width: 100%;
  height: 40px;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.toast-title {
  display: flex-inline;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.toast-desc {}
