.launcher {
  position: fixed;
  inset: 0;
  margin: 50px;
  padding: 20px;
  user-select: none;
  background-color: #aeaeffc8;
  border-radius: 12px;
  z-index: 10000;
  box-shadow: #a2a2a288 -15px 8px;
}

.shortcuts {
  position: fixed;
  inset: 0;
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 12px;
}

.shortcut {
  width: 100px;
  height: 100px;
}

.shortcut-inside {
  width: 90%;
  height: 90%;
  margin: 10%;
  background-color: #fffa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shortcut-icon {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  image-rendering: pixelated;
}

.shortcut-name {
  font-size: 14px;
}

.workspaceSwitcher {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.workspaceSwitcher button {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
}
